<mat-card class="game" [style.background-image]="'url(' + game.image + ')'">
  <div class="actions">
    <div class="status">
      <div class="indicator" [class.online]="game.online"></div>
      <em *ngIf="game.online">Hosted</em>
      <em *ngIf="!game.online">Hostable</em>
      <em *ngIf="game.node?.name">
        on {{game.node?.name}}
      </em>
    </div>

    <div class="right">
      <mat-spinner *ngIf="isStarting"></mat-spinner>
      <mat-slide-toggle  *ngIf="!isStarting" [disabled]="cannotToggle" [checked]="game.online" (change)="toggleGame($event)"></mat-slide-toggle>
    </div>
  </div>
</mat-card>