.game {
  height: 300px;
  background-size: cover;
  margin: 16px;
  display: flex;
  justify-content: end;

  .actions {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    >div.right {
      display: flex;
      width:50%;
      align-items: center;
      justify-content: flex-end;
    }
    mat-spinner {
      width: 22px !important;
      margin-right: 16px;
    }
    .status {
      .indicator {
        height: 9px;
        width: 9px;
        background: darkgoldenrod;
        display: inline-block;
        border-radius: 100%;
        margin-right: 6px;

        &.online {
          background: #08a708;
        }
      }
    }
  }
}