.node {
  width: 150px;
  height: 100%;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.offline {
    opacity: 0.5;
  }

  button {
    position: absolute;
    top: 0px;
    right: 0px;
    mat-spinner {
      width: 100% !important;
      height: 100% !important;
      position: relative;
    }
  }
}